@import '../../../style/index';

.#{$videx-prefix}-annotations-display-plugin-tag {
  position: absolute;
  bottom: 5.5px;
  width: 10px;
  height: 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
