doctype html
html
  head
    link(rel='icon', type='image/png', href='/static/logo-blue@1x.png')
    link(rel='stylesheet', href='//amp.azure.net/libs/amp/2.1.7/skins/amp-flush/azuremediaplayer.min.css')
    link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css")
    link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.9.0/katex.min.css")
    script(src='//amp.azure.net/libs/amp/2.1.7/azuremediaplayer.min.js')
    script(async, src="//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.9.0/katex.min.js")
    title ViDeX
  body
    #app(style='overflow-x:hidden')
    script(src='/dist/demo.js' nonce=nonce)
