@import '../../../../style/index';

.#{$videx-prefix}-dashboard-progress {
  .ant-progress-outer {
    .ant-progress-inner {
      height: 35px !important;
      .ant-progress-bg {
        height: 35px !important;
      }
      .ant-progress-success-bg {
        height: 35px !important;
        border-radius: 0px !important;
      }
    }
    border: #2f4f4f !important;
    border-width: 1px !important;
    border-style: solid !important;
  }
}

.#{$videx-prefix}-lesson-progress-image {
  width: 200px;
  height: auto;
}
