@import '../../../style/index';

.react-calendar-heatmap .color-scale-10 {
  fill: #d6e685;
  background-color: #d6e685;
}
.react-calendar-heatmap .color-scale-20 {
  fill: #8cc665;
}
.react-calendar-heatmap .color-scale-30 {
  fill: #44a340;
}
.react-calendar-heatmap .color-scale-40 {
  fill: #1e6823;
}

.react-calendar-heatmap .color-scale-lesson {
  fill: #3094c2;
}

.videx-calendar-grid-guide {
  font-size: 16px;
}
